@page
@model IndexPageModel

<partial name="_ChatRoomList" model="Model.ChatRooms"/>

<main id="chat-room-messages" class="main is-visible">
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <h1>Choose chat room from the sidebar</h1>
    </div>
</main>