@using ChatApp.Entities
@{
    var user = new User();
    if (User.Identity.IsAuthenticated)
    {
        user.Name = User.Claims.First(claim => claim.Type == "Name").Value;
        user.Surname = User.Claims.First(claim => claim.Type == "Surname").Value;
        user.AvatarColor = User.Claims.First(claim => claim.Type == "AvatarColor").Value;
    }
}

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a href="#" class="nav-link p-0 mt-lg-2">
            <div class="avatar mx-auto d-none d-xl-block">
                <partial name="_ColoredAvatar" model="@user" />
            </div>
        </a>
    </li>
    
    <li class="nav-item">
        <form class="form-inline" asp-area="" asp-page="/Account/Logout" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">Login</a>
    </li>
}