@page
@model RegisterConfirmationPageModel

<main class="main">
    <div class="container w-50 h-100 d-flex align-items-center">
        <h2>You account with email @Model.Email has been registered sucessfully. You can now <a class="link-primary" asp-area="" asp-page="/Account/Login">log in</a>.</h2>
    </div>
</main>